<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Culture</title>
  <link href="css/style.css" rel="stylesheet" media="screen">
</head>

<body id="categories">
  <header>
    <h1>Culture</h1>
  </header>

  <ul>
    <li><img src="img/popular.png" alt=""><a href="">Cinema</a>
      <span class="eye"><img src="img/eye.png" alt=""></span></li>
    <li><img src="img/culture.png" alt=""><a href="">Theater</a>
      <span class="ok"><img src="img/ok.png" alt=""></span></li>
    <li><img src="img/sport.png" alt=""><a href="">Museums</a>
      <span class="eye"><img src="img/eye.png" alt=""></span></li>
    <li><img src="img/music.png" alt=""><a href="">Opera</a>
      <span class="ok"><img src="img/ok.png" alt=""></span></li>
    <li><img src="img/entertainment.png" alt=""><a href="">Expositions</a>
      <span class="eye"><img src="img/eye.png" alt=""></span></li>
  </ul>

  <a class="bottom-nav done-bar" href="categories.html">Done</a>

</body>
</html>