<header>
  <a href="settings.html"><img src="img/settings-22.png" alt=""></a>
  <h1>Event App</h1>
</header>

<nav id="top-nav">
  <ul>
    <li id="category"><a href="home-category.html"><img src="img/list-grey.png" alt="">Category</a></li>
    <li id="friends"><a href=""><img src="img/friends-grey.png" alt="">Friends</a></li>
    <li id="location"><a href="location.html"><img src="img/map-grey.png" alt="">Location</a></li>
  </ul>
</nav>

<!-- <div ng-controller='CatListController'>
  <div class="row span12 catGrid">
    <ul class="thumbnails">
      <li ng-repeat="cat in cats" ng-click="getDetail(cat.id)" class="span2" ng-mouseover="showName(cat.name)">
        <div class="thumbnail">
          <img ng-src="{{cat.thumbnail}}">
        </div>
      </li>
    </ul>
  </div> -->

  <!-- Nav buttons and Cat Name -->
<!--   <div class="row">
    <button class='btn btn-primary span1' ng-click="changePage('prev')">Prev</button>
    <div class="catName span10">{{name}}</div>
    <button class='btn btn-primary pull-right span1' ng-click="changePage('next')">Next</button>
  </div>
</div> -->

<div id="container" ng-controller="EventsCtrl">
  <ul>
    <li ng-repeat="event in events">
      <figure class="event">
        <a href="event.html"><img ng-src="{{event.picture}}" alt="" /></a>
        <figcaption>
          <h1><a href="event.html">{{event.name}}</a></h1>
          <p>{{event.date | date:'EEEE, d MMM yyyy'}}</p>
        </figcaption>
        <section>
          <p class="location"><img src="img/map-red.png" alt="">{{event.location_id}}</p>
          <div class="followers">
            <p>12 more</p>
            <img src="img/homer.jpg" alt="">
            <img src="img/homer.jpg" alt="">
            <img src="img/homer.jpg" alt="">
            <img src="img/homer.jpg" alt="">
            <img src="img/homer.jpg" alt="">
          </div>
        </section>
      </figure>
    </li>
  </ul>
</div>

<nav class="bottom-nav">
  <ul>
    <li><a href="my-profile.html"><img src="img/profile-grey.png" alt="">My Profile</a></li>
    <li><a href="home.html"><img src="img/home-grey.png" alt="">Home</a></li>
    <li><a href="#"><img src="img/search-grey.png" alt="">Search</a></li>
  </ul>
</nav>