<div id="container">
  <ul>
    <li ng-repeat="event in events">
      <figure class="event">
        <a href="#/events/{{event.id}}"><img ng-src="{{event.picture}}" alt="" /></a>
        <figcaption>
          <h1><a href="#/events/{{event.id}}">{{event.name}}</a></h1>
          <p>{{event.date | date:'EEEE, d MMM yyyy'}}</p>
        </figcaption>
        <section>
          <p class="location"><img src="img/map-red.png" alt="">{{event.address}}</p>
          <div class="followers">
            <p>12 more</p>
            <img src="img/homer.jpg" alt="">
            <img src="img/homer.jpg" alt="">
            <img src="img/homer.jpg" alt="">
            <img src="img/homer.jpg" alt="">
            <img src="img/homer.jpg" alt="">
          </div>
        </section>
      </figure>
    </li>
  </ul>
</div>