<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Profile</title>
  <link href="css/style.css" rel="stylesheet" media="screen">
</head>

<body>
  <header>
    <a href="settings.html"><img src="img/settings-22.png" alt=""></a>
    <h1>My Profile</h1>
  </header>

  <div class="connect">
    <p class="empty">Connect to Facebook in order to lorem ipsum</p>
    <div class="btn"><a class="f" href="">f</a><a class="fb" href="">Connect to Facebook</a></div>
  </div>

  <nav class="bottom-nav">
    <ul>
      <li><a href="my-profile.html"><img src="img/profile-grey.png" alt="">My Profile</a></li>
      <li><a href="index.html"><img src="img/home-grey.png" alt="">Home</a></li>
      <li><a href="#"><img src="img/search-grey.png" alt="">Search</a></li>
    </ul>
  </nav>

</body>
</html>