<div class="settings">
  <div>
    <a class="btn" href="">Disconnect</a>
    <h5>Facebook:</h5>
  </div>
  <div>
    <a class="btn" href="">Change</a>
    <h5>Location:</h5>
    <p class="location"><img src="img/map-red.png" alt="">Bucharest</p>
  </div>
  <div>
    <a class="btn edit" href="">Edit</a>
    <h5>My Categories</h5>
  </div>
  <div>
    <h5>Notifications<img src="img/question.png" alt=""></h5>
  </div>
</div>

<div class="onoffswitch">
  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
  <label class="onoffswitch-label" for="myonoffswitch">
    <div class="onoffswitch-inner"></div>
    <div class="onoffswitch-switch"></div>
  </label>
</div>
