html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
  display:block;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
}
ul {
  list-style: none
}
:focus {
  outline: none
}

/* Base styles */
body {
  margin: 0 auto;
  width: 100%; /* 320px */
  background: url(../img/lgrey008.jpg);
  font: 100%/1.5em Helvetica, Arial, sans-serif;
  color: white;
  /*overflow: hidden;*/
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #425279;
  z-index: 20;
  box-shadow: 0 .15em .3em rgba(0,0,0,.5);
}
header h1 {
  /*font-family: 'ChunkFiveRegular', Georgia, serif;*/
  font-size: 1.05em; /* 18px / 16px */
  line-height: 1.7em; /* 30.6px / 18px */
  padding: .5em 0;/* 7.2px / 18px */
  font-weight: bold;
  text-align: center;
}
.btn, header img {
  position: relative;
  top: 0.4em;
  background: -webkit-linear-gradient(top, #6486bd 37%, #536a9f 69%);
  /*border: 0.1em solid #536a9f;*/
  border-radius: 0.5em;
  box-shadow: 0 .1em .2em rgba(0,0,0,0.5);
  border-top: .1em solid rgba(255,255,255,0.25);
}
header img {
  float: right;
  right: 3%;
  padding: 0.3em;
  height: 1.9em;
}
.btn {
  float: left;
  top: 0.6em;
  left: 5%;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.2em 0.5em;
  text-shadow: 0 -.1em .1em rgba(0,0,0,0.25);
}
.tag {
  padding: .2em .8em;
}
.gps {
  float: left;
  left: 5%;
  padding: .4em;
}
#share {
  padding: .1em;
}
.done {
  float: right;
  left: -3%;
}

#top-nav {
  position: fixed;
  top: 2.7em;
  width: 100%;
  z-index: 10;
  background: #2e2e2e;
  font-weight: bold;
  box-shadow: 0 .15em .3em rgba(0,0,0,.5);
}
#top-nav li {
  display: inline-block;
  font-size: 0.8em; /* 24px / 16px */
  line-height: 3.5em;
  width: 32%;
  padding-right: 5%;
  text-align: center;
}
#top-nav ul {
  padding-left: 5%;
}
#top-nav a {
  color: #9f9f9f;
}
#top-nav a:active {
  color: white;
}
#top-nav img {
  margin-right: 0.5em;
}
#top-nav #category img {
  width:1em;
  height: 0.8em;
}
#top-nav #friends img,
#top-nav #location img {
  height: 1em;
}

.bottom-nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #425279;
  box-shadow: 0 0 0.3em 0 rgba(0,0,0,.5);
  /*font-weight: bold;*/
}
.bottom-nav li {
  display: inline-block;
  font-size: 0.7em;
  line-height: 1.5em;
  width: 32%;
  padding-right: 5%;
  text-align: center;
}
.bottom-nav ul {
  padding-left: 5%;
}
.bottom-nav a {
  color: #d1d1d1;
}
.bottom-nav img {
  height: 2em;
  display: block;
  margin: 0.8em auto 0 auto;
}
/*.attend li {
  font-size: 0.6em;
}
.attend li:nth-child(2){
  color: white;
  font-size: 0.8em;
}*/

#container {
  margin-top: 5.8em;
  width: 100%;
}
h2 {
  width: 95%;
  position: absolute;
  left: 2.5%;
  background-color: rgba(255,255,255,0.4);
  color: black;
  text-align: center;
  font-size: .8em;
  font-weight: bold;
}
h2 img {
  height: 1.5em;
  margin-right: 0.5em;
  position: relative;
  top: .3em;
}
figure {
  width: 95%; /* 627px */
  margin: 0 auto;
  margin-bottom: -2em;
}
figure a img {
  width: 100%;
  height: 9em;
/*  max-width: 100%;
*/  border-radius: .4em .4em 0 0;
  box-shadow: .1em -.1em .3em rgba(100,100,100,0.25);
}
figcaption {
  color: white;
  text-shadow: .1em .1em 0 #808080;
}
figcaption h1, figcaption p {
  position: relative;
  bottom: 4.5em;
  padding: 0 .7em;
  font-size: 0.8em;
}
figcaption h1 {
  margin-bottom: -0.8em;
  font-size: 0.9em;
  font-weight: bold;
}
figure section {
  color: grey;
  position: relative;
  bottom: 3em;
  background: white;
  padding: 1.3em 0.6em;
  text-shadow: .1em .1em 0 #eee;
}
.location {
  float: left;
  font-size: 0.8em;
  margin-top: -1em;
}
.location img {
  height: 0.9em;
  width: 0.7em;
  margin-right: 0.5em;
}
.followers {
  float: right;
  width: 63%;
  margin-top: -0.8em;
}
.followers img {
  width: 1.6em;
  margin-right: .05em;
  border-radius: .2em;
}
.followers p {
  float: right;
  font-size: .5em;
  padding-top: .1em;
}

#categories li:nth-child(odd) {
  background-image: url(../img/background-grey.png);
  box-shadow: inset 0 .1em .2em white;
  border-bottom:.1em solid white;
}
#categories li:nth-child(even) {
  background-image: url(../img/background-blue.png);
  box-shadow: .1em 0 .2em rgba(0,0,0,0.5);
}
#categories ul {
  margin-top: 2.7em;
}
#categories li {
  padding: 1.8em 0;
}
#categories li>a {
  color: black;
  font-size: 0.9em;
  font-weight: bold;
  text-shadow: .1em .1em 0 #cccccc;
  position: relative;
  bottom: .3em;
}
#categories img {
  width: 1.5em;
  margin-left: 7%;
  margin-right: 1em;
}
#categories span {
  float: right;
  margin-right: 5%;
  border-radius: .4em;
}
#categories .ok {
  background: -webkit-linear-gradient(top, rgb(129,155,196) 18%, rgb(187,205,240) 66%);
  box-shadow: inset 0 .15em .3em rgba(0,0,0,0.5);
}
#categories .eye {
  background: #819bc4;
  /*box-shadow: 0 .1em .1em rgba(0,0,0,0.5);*/
  /*border-bottom: .1em solid rgba(0,0,0,0.25);*/
}
#categories .ok img {
  margin: 0 auto;
  margin-bottom: -.2em;
  padding: .25em;
}
#categories .eye img{
  margin: 0 auto;
  margin-bottom: -.3em;
  padding: .2em;
}

#container .map {
  width: 100%;
  height: 5.5em;
  border-bottom: .1em solid rgba(100,100,100,0.25);
}
.date {
  float: left;
  margin-right: 1em;
}
.time {
  color: #9f9f9f;
  text-shadow: .1em .1em .3em #000;
}
.time img {
  width: 1.3em;
  margin-right: .5em;
  position: relative;
  top: .3em;
}
.event-details {
  margin-top: -2.7em;
}
.details {
  width: 90%;
  margin: 0 auto;
  border-radius: 0.4em 0.4em 0 0;
  box-shadow: .1em -.1em .3em rgba(100,100,100,0.25);
  background: white;
  margin-top: .3em;
  color: #a02929;
  font-size: .8em;
}
.address {
  width: 100%;
  color: black;
  padding: 1.8em 0 .8em 1em;
  border-bottom: .1em solid rgba(200,200,200,0.25);
  font-size: 1em;
}
.address img {
  height: 1.2em;
  width: .9em;
  position: relative;
  top: .1em;
}
h4, .tags {
  padding: .6em 0 .7em 1em;
  margin-right: .5em;
}
.created, .attending {
  clear: left;
  border-bottom: .1em solid rgba(200,200,200,0.5);
  padding-bottom: 1.1em;
}
.created h4, .created img, .attending h4, .detail h4 {
  float: left;
}
.created img, .attending img {
  width: 2em;
  margin-right: .5em;
  position: relative;
  top: .5em;
  border-radius: .2em;
}
.created p {
  font-weight: bold;
  color: black;
  text-shadow: .1em -.1em 0 #eee;
  position: relative;
  top: .5em;
}
.attending {
  padding-right: .5em;
  border-bottom: .1em solid rgba(200,200,200,0.25);
}
.attending h4 {
  margin-right: 1em;
  margin-top: -.3em;
}
.attending span {
  display: block;
  color: grey;
  font-size: .7em;
  position: relative;
  left: 1.5em;
  top: -.7em;
}
.attending img {
  margin-right: .1em;
  top: .7em;
}
.detail {
  clear: left;
  border-bottom: .1em solid rgba(200,200,200,0.25);
}
.detail h4 {
  margin-right: 1em;
}
.detail p {
  color: grey;
  padding: .7em 10% .7em 6.5em;
  font-size: .85em;
  line-height: 1.2em;
}
.detail img {
  width: .7em;
  float: right;
  position: relative;
  top: 2.7em;
  right: 2%;
}
.tags {
  padding-bottom: 1em;
  margin-left: -.3em;
}
.tags li{
  display: inline;
}
.tags li a {
  background: url(../img/tagg.png) 90%;
  background-size: 120% 300%;
  padding: .3em 2.5em .3em 1em;
  border-bottom-left-radius: .3em;
  border-top-left-radius: .3em;
  font-size: .8em;
  margin-right: -1em;
}
.details-large {
  padding: 0 2em;
  position: relative;
  top: -3.3em;
}
.details-large h4 {
  margin-left: -1em;
  font-weight: bold;
}
.details-large p {
  color: black;
  font-size: .85em;
  line-height: 1.2em;
  padding-bottom: 1.5em;
}
.history {
  background: rgba(255,255,255,0.7);
  margin-top: -2.3em;
  border-radius: .5em .5em 0 0;
  font-size: .9em;
  padding: .2em 0;
  margin-bottom: .2em;
  text-align: center;
}
.profile {
  position: relative;
  top: -2.5em;
  width: 95%;
  height: 5em;
  margin: 0 auto;
  margin-bottom: .5em;
  background: white;
  border-radius: .4em;
  color: black;
  box-shadow: .1em -.1em .3em rgba(100,100,100,0.25);
}
.profile>img {
  float: left;
  margin-right: 1em;
  width: 4.5em;
  padding-left: 3%;
  padding-top: .5em;
  /*border-radius: .3em;*/
}
.profile h3 {
  font-weight: bold;
  position: relative;
  top: .3em;
}
.profile .location {
  font-size: .75em;
  position: relative;
  top: 1em;
}
.profile .number {
  display: inline;
  color: white;
  background: #425279;
  border-radius: .4em;
  font-size: 0.6em;
  padding: .2em .9em;
  position: relative;
  top: 2em;
  margin-left: -11.8em;
}
.empty {
  color: rgb(150,150,150);
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 .1em .1em rgba(200,200,200,.5);
  margin: 4em 1.5em 0 1.5em;
}
.connect {
  margin-top: 11em;
}
.connect div {
  margin-left: 10%;
  font-size: .9em;
  background: #5b74a8;
  padding: .5em 1em;
  border-radius: .3em;
}
.connect .f {
  font-size: 1.7em;
  padding: 0 .7em 0 .1em;
  margin-top: -.2em;
  border-right: .05em solid #7b8fb9;
  color: #dee3ed;
}
.connect .fb {
  margin-left: 1em;
}
.done-bar {
  padding: .7em;
  color: #d1d1d1;
  font-weight: bold;
  text-align: center;
}

.btn-right {
  float: right;
  left: -3%;
}
.settings {
  width: 95%;
  margin: 0 auto;
  margin-top: 4em;
}
.settings div {
  background: white;
  margin: 2em 0;
  border-radius: .4em;
  box-shadow: .1em -.1em .3em rgba(100,100,100,0.25);
}
.settings h5 {
  color: black;
  padding: 1.5em 5%;
  font-size: .8em;
  font-weight: bold;
}
.settings h5 img {
  width: 1.5em;
  position: relative;
  left: 1em;
  top: .3em;
}
.settings a, .settings .location {
  float: right;
  color: white;
  font-size: .7em;
  margin-right: 10%;
  margin-top: .8em;
}
.settings .location {
  color: grey;
  position: relative;
  top: -4.5em;
  left: -11em;
}
.edit {
  position: relative;
  left: 35%;
}

.onoffswitch {
  width: 95%;
  position: relative;
  width: 3.5em;
  left: 75%;
  bottom: 4.8em;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #666666; border-radius: 21px;
}
.onoffswitch-inner {
  width: 200%; margin-left: -100%;
  -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
  font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  border-radius: 21px;
  box-shadow: 0px 10.5px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 15px;
  background-color: #536A9F; color: #FFFFFF;
  border-radius: 21px 0 0 21px;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 15px;
  background-color: #FFFFFF; color: #666666;
  text-align: right;
  border-radius: 0 21px 21px 0;
}
.onoffswitch-switch {
  width: 21px; margin: 0px;
  background: #FFFFFF;
  border: 2px solid #666666; border-radius: 21px;
  position: absolute; top: 0; bottom: 0; right: 40px;
  -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
  background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
  background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
  background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
  background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
  box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

/* Small screen */
@media screen and (min-width: 600px) {

}

/* Desktop */
@media screen and (min-width: 860px) {

}

@media screen and (min-width: 1200px) {

}

/*@media screen and (orientation: portrait) {
  .event { max-width: 90%; }
}
@media screen and (orientation: landscape) {
  .event { max-height: 90%; }
}*/